<%- include header %>
  <div class="container main-body">
    <div class="row justify-content-md-center">
      <div class="col-4">
        <table id="profileTable" class="mx-auto table table-hover table-sm table-bordered transcript display" style="width: auto;">
          <thead class="thead-dark">
            <tr>
              <th style="width: fit-content;">Member ID</th>
              <td style="width: 100%;"><%= user.memberID %></td>
            </tr>
            <tr>
              <th style="width: fit-content;">First Name</th>
              <td style="width: 100%;"><%= user.firstName %></td>
            </tr>
            <tr>
              <th style="width: fit-content;">Last Name</th>
              <td style="width: 100%;"><%= user.lastName %></td>
            </tr>
        </table>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-4">
        <p style="text-align: justify; text-justify: inter-word; font-size: 12px;">
          This information was imported by Longhorn Council University of Scouting Faculty.  
          If this information is incorrect or if a name change is required, please contact 
          University of Scouting Administration for assistance.
        </p>
      </div>
    </div>
  </div>
<%- include footer %>
