<%- include header %>
  <div class="container main-body">
    <div class="row">
      <div class="col-5 text-center mx-auto">
        <button id="printBTN" onclick="print()" class="btn btn-sm btn-3 noprint">Print</button>
        <span class="printTip" id="printTip"><strong>Tool-Tip: </strong><br/>To save your Transcript on your computer you can Print to PDF!<br/><span class="ClickHere" onClick="howToPopup()">Click here for instructions!</span></span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="text-center font-weight-bold">
          ID: <span id="userID"><%= user.memberID %></span> | 
          <span id="fname"><%= user.firstName %></span> 
          <span id="lname"><%= user.lastName %></span> | 
          <span id="rowCount"></span> Records
        </div><br/>
        <table id="transcriptTable" class="mx-auto table table-hover table-sm text-center sortable">
          <thead class="thead-dark">
            <tr>
              <th>Course Date & Time</th>
              <th>Course Title</th>
              <th>Course Instructor</th>
              <th>Course Location</th>
              <th>On-line Delivery</th>
            </tr>
          </thead>
          <tbody id="scheduleTbody">
          </tbody>
        </table>
        <div class="loader loader2"></div>
      </div>
    </div>
  </div>
  <script>
    //******Open print friendly window // Print as PDF******//  
    function print() {
      var win = window.open('/schedulePrint', '', 'height=800, width=1200'); 
      win.document.close(); 
      win.print(); 
    }
    //***Tooltop Popup for HowTo****//
    $("#printBTN").mouseenter(function() {
      $(".printTip").fadeIn("fast");
      hideTimer = setTimeout(function(){ $(".printTip").fadeOut();}, 4000);
    });
    $(".printTip").mouseenter(function() {
      clearTimeout(hideTimer);
    });
    $(".printTip").mouseleave(function() {
      $(".printTip").fadeOut();
    });
    //*********HowTo popup********//
    function howToPopup(){
      var popup = window.open('/howtoprinttopdf', '', 'height=860, width=700');
      popup.document.close();
    }
    //-------------------------------------------------------------------------//
    $("document").ready(function(){
      getSchedule();
    });
    function getSchedule(){
      var ID = $("#userID").html();
      $("#scheduleTbody").hide();
      $(".loader").fadeIn();
      $.ajax({
        dataType: "json",
        url: "/api/members/<%= user._id %>/registrations",
        data: {earliest: "<%= earliest %>"},
        success:  function(data){
          if(data.length > 0){
            $("#scheduleTbody").html("");
            $("#rowCount").html(data.length);
            for(var i = 0; i < data.length; i++){
              if(data[i].memberID == ID){
                $("#scheduleTbody").append("<tr><td>"+data[i].dateMDYHM+"</td><td>"+data[i].title+"</td><td>"+data[i].instructor+"</td><td>"+data[i].physical+"</td><td>"+data[i].online+'</td></tr>');
              }
            }
            $(".loader").fadeOut(function(){$("#scheduleTbody").fadeIn()});
          }else{
            $("#scheduleTbody").html("");
            $("#rowCount").html(data.length);
            $("#scheduleTbody").append('<tr><td colspan="5"><h4 style="color:#CE1126;"><strong>'+data.length+' records returned for member ID '+ID+'</strong></h4></td></tr>');
            $(".loader").fadeOut(function(){$("#scheduleTbody").fadeIn()});
          }
        }
      });
    }
  </script>
<%- include footer %>