<%- include header %>
  <div class="container main-body">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-3">
            <p><strong>User: <%= user.username %></strong></p>
          </div>
          <div class="col-6 text-right">
            <button onclick="printCSV()" class="btn btn-sm btn-2">Download CSV</button>
            <button onclick="printPDF()" class="btn btn-sm btn-2">Save PDF</button>
          </div>
          <div class="col-3"></div>
       </div>
        <div id="transcriptTableDiv">
          <table id="transcriptTable" class="mx-auto table table-hover table-sm table-bordered transcript display" style="width: fit-content;">
            <thead class="thead-dark">
              <th>Index</th>
              <th>Member ID</th>
              <th>Course Date</th>
              <th>Course Title</th>
              <th>Credits</th>
              <th>Status</th>
              <th class="noprint"></th>
            </thead>
            <tbody>
              <% for(var i=0; i<transcript.length; i++) { var index = i+1 %>
              <tr>
                <td class="text-center"><%= index %></td>
                <td class="text-center"><%= transcript[i].memberID %></td>
                <td><%= transcript[i].date %></td>
                <td><%= transcript[i].title %></td>
                <td class="text-center"><%= transcript[i].credits %></td>
                <td class="text-center"><%= transcript[i].status %></td>
                <td class="noprint text-center"><button class="btn btn-sm btn-warning" id="">Edit (<%= index %>)</button></td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<%- include footer %>
<iframe id="txtArea1" style="display:none"></iframe>
<script>
  function printCSV() {
    document.querySelector(".buttons-csv").click()
  }
  function printPDF() {
    var sTable = document.getElementById('transcriptTableDiv').innerHTML;
    var icon = document.getElementById('Icon');
    var style = "<style>";
    style += "body{ background-image: url('http://localhost:3000/images/LHC_UoS_Logo_Watermark.png'); background-position: center;background-repeat: no-repeat; background-size: 600px 800px;}"
    style += "table {max-width: 80%; font: 10px Calibri; margin:0 auto; margin-top:50px; white-space: nowrap;}";
    style += "table, th, td {border: solid 1px #DDD; border-collapse: collapse;";
    style += "padding: 2px 3px;text-align: center;} td{ vertical-align: middle;}";
    style += ".title{text-align:center;margin:0 auto;margin-top:50px;}"
    style += ".noprint { display:none;}"
    style += "</style>";
    // CREATE A WINDOW OBJECT.
    var win = window.open('', '', 'height=700,width=900, copyhistory=no');
    win.document.write('<html><head><title>Transcript</title>'+style+'</head><body id="backgroundImage"><h1 class="title">University of Scouting Transcript</h1>'+sTable+'</body></html>');
    win.document.close(); 	// CLOSE THE CURRENT WINDOW.
    win.print();    // PRINT THE CONTENTS.
  }
</script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
<script>
  $(document).ready(
    function() {
      $('#transcriptTable').DataTable( {dom: 'Bfrtip',buttons: ['csvHtml5']});
    }
  );
  $(document).ready(
    function() {
      $('.dt-button').addClass('btn btn-sm btn-2');
      $('.buttons-csv').css('display','none');
      $('#transcriptTable_filter').css('display','none');
      $('#transcriptTable_info').css('display','none');
      $('#transcriptTable_paginate').css('display','none');
    }
  );
</script>